.list {
  list-style-type: none;
}
li {
  font-size: 1.5em;
}
li:last-child {
  text-decoration: underline green;
}
.second {
  text-decoration: line-through;
}
.first {
  text-decoration: red overline;
}
