.list {
  list-style-type: none;
}
li {
  font-size: 1.5em;
}
li:last-child {
  box-sizing: border-box;
  display: inline-block;
  /* text-decoration: green underline; */
  border-bottom: green solid;
}
.second {
  text-decoration: line-through;
}
.first {
  text-decoration: red overline;
}
