test.py
html-lesson6/task1/styles.css
html-lesson8/task6/index.html
leson html/430919.png
leson html/index.html
leson html/index2.html
leson html/Screenshot_1.png
leson js/index.html
leson js/index.js
leson js/index2.js
leson js/index3.js
leson js/index4.js
leson js/index5.js
leson js/index7.js
leson js/index8.js
leson js/index9.js
leson js/index10.js
leson js/index11.js
leson js/index12.js
leson js/index14.js
leson js/index15.js
leson js/index16.js
leson js/index17.js
html-lesson8/task6/index.html
html-lesson8/task6/index.html
html-lesson6/task1/styles.css
html-lesson6/task1/styles.css
html-lesson15/html-lesson16/task1/index.html
html-lesson16/task1/styles.css
html-lesson16/task1/index.html
