.container {
  margin: 32px;
}
.rect {
  display: flex;
  margin-bottom: 16px;
  background-color: coral;
  align-items: center;
  justify-content: center;

  opacity: 0.5;
  width: 100px;
  height: 100px;
  transition: width 2s, opacity 0.5s;
}
* {
  box-sizing: border-box;
}
.rect:hover {
  width: 100%;
  opacity: 1;
}
.linear {
  transition-timing-function: linear;
}
.ease {
  transition-timing-function: ease;
}
.ease-in {
  transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
