.customers {
  display: flex;
  flex-direction: column;
  @include for-large-up {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 106px;
    align-items: center;
    flex-direction: row;
  }

  &__row {
    display: flex;
    @include for-large-up {
      flex: 1;
      justify-content: space-around;
    }
  }

  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }

  &__item {
    @include for-large-up {
      border: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94px;
    min-width: 107px;
    border-bottom: 1px solid #e3e3e3e3;
    border-right: 1px solid #e3e3e3e3;
    flex: 1;

    &:last-child {
      border-right: none;
    }
  }
}
