.header {
  position: fixed;
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  display: inline-block;
  z-index: 1;
}

.nav-list {
  margin: 0%;
  height: 40px;
  line-height: 40px;
}
.nav-item {
  margin-left: 16px;
  line-height: 40px;
  list-style: none;
  color: white;
  float: left;
}

.content {
  height: 5000px;
  background-color: beige;
}
.head {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: aquamarine;

  top: calc(50% - 100px);
  left: calc(50% - 100px);
}
.ear_left {
  position: absolute;
  height: 60px;
  width: 40px;
  background-color: brown;
  top: -60px;
  left: -40px;
}
.ear_right {
  position: absolute;
  float: right;
  height: 60px;
  width: 40px;
  background-color: brown;
  top: -60px;
  right: -40px;
}

.eye_left {
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: gray;
  top: 80px;
  right: 40px;
  left: 40px;
  float: left;
}

.eye_right {
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: gray;

  top: 80px;
  left: -40px;
  right: -40px;
  float: right;
}
