* {
  box-sizing: border-box;
}

.rectzak {
  border-radius: 16px;
  width: 100px;
  height: 50px;
  background-color: forestgreen;
  margin-left: 50px;
  margin-top: 50px;
}
.oval {
  border-radius: 50%;
  width: 100px;
  height: 50px;
  background-color: darkmagenta;
  margin-left: 50px;
  margin-top: 50px;
}
.krug {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin-left: 50px;
  margin-top: 50px;
}
.treug {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;
  border: 50px solid transparent;
  border-top-color: brown;
}
