table {
  box-sizing: border-box;
  margin: 16px;
  border-collapse: collapse;
  border: 1px solid black;
}
td {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  box-sizing: border-box;
}
.evenclastesrs > td:nth-child(even) {
  background-color: black;
}
.oddclastesrs > td:nth-child(odd) {
  background-color: black;
}

th {
  height: 50px;
  width: 50px;
  text-transform: capitalize;
  box-sizing: border-box;
  font-weight: normal;
}
