li {
  margin-bottom: 16px;
}
ul > li:first-child > span {
  background-color: red;
  color: white;
}
ul > li:last-child > span {
  background-color: black;
  color: white;
}
li:nth-child(even) > span {
  margin-left: 16px;
}
p:nth-of-type(odd) {
  background-color: gray;
}
/* p:first-child {
  background-color: yellow;
}
p:nth-child(2) {
  background-color: blue;
}
p:nth-child(3) {
  background-color: red;
}

p:nth-child(4) {
  background-color: gray;
}
p:last-child {
  background-color: crimson;
} */
