@import 'layout.scss';
span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}
.navigation {
  background-color: #ff7f50;
  flex: 1;
  min-height: 200px;
  display: flex;
}
.content {
  @include for-medium {
    display: flex;
  }
}
.product {
  @include for-small {
    display: flex;
    flex: 1;
  }

  @include for-medium {
    flex: 2;
  }

  &_list {
    background-color: #006400;

    min-height: 200px;
    display: flex;
    flex: 1;
  }
}

.News {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex: 1;
}
