* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #555;
  font-size: 16px;
  height: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: linear-gradient(60deg, red, orange);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  flex-grow: 1;
  display: block;
}
.footer {
  display: flex;
  flex-grow: 0;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  padding: 0.5em;
}
.navigation {
  padding: 0.5em;
  width: 100%;
}
.section {
  font-size: 1.25em;
  padding: 0 0.5em;
  width: 100%;
}
.units-list {
  line-height: 1.75em;
}
.news {
  padding: 0.5em;
  width: 100%;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  font-size: 5vw;
  display: flex;

  justify-content: center;
}
.nav-list {
  padding: 0;
  list-style-type: none;
}
.nav-list-item {
  display: flex;
  align-items: center;

  background-color: #808080;
  color: white;
  height: 2em;
  margin-bottom: 0.5em;
}
.nav-list-link {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2em;
  width: 100%;
}
img {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
.pict {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

/* @media screen and (max-width: 600px) {
  .main {
    display: block;
  }
  .news {
    width: 100%;
  }
  .navigation {
    width: 100%;
  }
  .section {
    width: 100%;
  }
} */
@media screen and (max-width: 1199px) and (min-width: 600px) {
  .main {
    display: flex;
  }
  .navsec {
    display: flex;
    width: 100%;
    flex: 2;
  }
  .main {
    display: block;
  }
  .news {
    width: 100%;
  }
  .navigation {
    width: 20%;
  }
  .section {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    display: flex;
  }
  .navsec {
    display: flex;
    width: 80%;
    flex: 4;
  }
  .navigation {
    width: 20%;
    flex: 1;
  }
  .section {
    /* margin: auto; */
    flex: 3;
  }

  .news {
    width: 20%;
    flex: 1;
  }
}
