body {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.article {
  margin: 8px 8px 8px 8px;
  padding: 16px 16px 16px 16px;
  flex-basis: 300px;
  background-color: yellow;
  flex-grow: 1;
}
