.image-container {
  display: flex;

  position: relative;
  justify-content: center;
  /* align-items: center; */
}
.image-button {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
  width: 200px;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: bisque;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  filter: opacity(0.5);
  text-align: center;
  cursor: pointer;
}
img {
  max-width: 100%;
}

.image-button:hover {
  filter: opacity(1);
}
